In [33]:
import numpy as np

from src.scripts.common import *
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [45]:
df = load_raw(Dataset.BBC, "train")

vect = TfidfVectorizer(norm=None)
transfomed = vect.fit_transform(df[TEXT_COL])

df_trans = pd.DataFrame(transfomed.toarray(), columns = vect.get_feature_names())
df_trans.head()

,00,000,0001,000bn,000m,000s,000th,001,001and,001st,...,zoom,zooms,zooropa,zornotza,zubair,zuluaga,zurich,zutons,zvonareva,zvyagintsev
0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6.693171,17.595679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
df.iloc[12]

target                                                sport
text      Liverpool revel in night of glory Liverpool ma...
Name: 12, dtype: object

In [22]:
example = df_trans.iloc[12]
example

00             0.0
000            0.0
0001           0.0
000bn          0.0
000m           0.0
              ...
zuluaga        0.0
zurich         0.0
zutons         0.0
zvonareva      0.0
zvyagintsev    0.0
Name: 12, Length: 26895, dtype: float64

In [23]:
ind_nz = example.to_numpy().nonzero()
nonzero_features = example.iloc[ind_nz].sort_values(ascending=False)
nonzero_features

the          23.000000
gerrard      22.849366
liverpool    18.989043
benitez      17.759943
champions    12.978142
               ...
also          1.569207
from          1.342894
but           1.314042
be            1.252920
with          1.185809
Name: 12, Length: 162, dtype: float64

In [41]:
vect = TfidfVectorizer(norm=None, use_idf=False)
transfomed = vect.fit_transform(df[TEXT_COL])

df_trans_tf = pd.DataFrame(transfomed.toarray(), columns = vect.get_feature_names())
example_idf = df_trans_tf.iloc[12]
ind_nz_tf = example_idf.to_numpy().nonzero()
nonzero_tf = example_idf.iloc[ind_nz_tf].sort_values(ascending=False)
nonzero_tf

the        23.0
to          9.0
for         8.0
of          8.0
and         7.0
           ...
lying       1.0
losing      1.0
achieve     1.0
like        1.0
20          1.0
Name: 12, Length: 162, dtype: float64

In [29]:
nonzero_tf['strike']

2.0

In [31]:
df.shape

(1780, 2)

In [48]:
import numpy as np
f_names = {"liverpool": 4, "strike":2, "caught":2,"admitted":1,"is":2, "the": 23}
#calc idf
for f,value in f_names.items():
    no_doc_cont_feature = (df_trans_tf[f] != 0).sum()
    total_terms_in_doc = 302
    tf = value/total_terms_in_doc
    idf = np.log((1+1780)/(1 + no_doc_cont_feature))
    print(f"{f} & {tf} &{idf} & {tf*idf}")

liverpool & 0.013245033112582781 &3.7472606650062934 & 0.04963259158948733
strike & 0.006622516556291391 &4.189093417285332 & 0.027742340511823393
caught & 0.006622516556291391 &4.22683374526818 & 0.027992276458729665
admitted & 0.0033112582781456954 &2.8999628046190895 & 0.009602525843109567
is & 0.006622516556291391 &0.13827512011312287 & 0.000915729272272337
the & 0.076158940397351 &0.0 & 0.0

In [47]:
df_trans.iloc[12][["liverpool", "strike","caught", "admitted","is","the"]]

liverpool    18.989043
strike       10.378187
caught       10.453667
admitted      3.899963
is            2.276550
the          23.000000
Name: 12, dtype: float64

In [34]:
df = load_raw(Dataset.BBC, "train")

vect = CountVectorizer()
transfomed = vect.fit_transform(df[TEXT_COL])

df_trans = pd.DataFrame(transfomed.toarray(), columns = vect.get_feature_names())
df_trans.iloc[12].sum()

00             0
000            0
0001           0
000bn          0
000m           0
              ..
zuluaga        0
zurich         0
zutons         0
zvonareva      0
zvyagintsev    0
Name: 12, Length: 26895, dtype: int64

In [38]:

nonzero_count = df_trans.iloc[12].iloc[df_trans.iloc[12].to_numpy().nonzero()].sort_values(ascending=False)
nonzero_count.sum()

302